<!DOCTYPE html>
<html>

<head>
  <title>Device Sensors</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    button {
      padding: 8px 16px;
      background-color: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
    }

    button:hover {
      background-color: #45a049;
    }
  </style>
</head>

<body>
  <table>
    <thead>
      <tr>
        <th>Sensors</th>
      </tr>
    </thead>
    <tbody>
      <% for (let i=0; i < data.length; i++) { %>
        <tr>
          <td>
            <button
              onclick="getDeviceSensorData('<%= data[i].device_id %>', '<%= data[i].gateway_uuid %>',  '<%= data[i].type %>')">
              <%= data[i].type%>
            </button>
          </td>

        </tr>
        <% } %>
    </tbody>
  </table>

  <script>


    function getDeviceSensorData(device_id, gateway_uuid, type) {
      fetch('/device_sensor_data?device_id=' + device_id + '&gateway_uuid=' + gateway_uuid + '&type=' + type)
        .then(response => response.json())
        .then(data => {
          console.log(data);
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    }
  </script>
</body>

</html>