<!DOCTYPE html>
<html>

<head>
    <title>
        Data Line Graph
    </title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>

<body>
    <% for (let i=0; i < data_array.length; i++) { %>

        <div id="container<%= i %>"></div>
        <% } %>
            <script>
                const sensorDataArray = JSON.parse('<%- JSON.stringify(data_array) %>');

                for (let i = 0; i < sensorDataArray.length; i++) {
                    sensorData = sensorDataArray[i].data;
                    sensorType = sensorDataArray[i].type;
                    // Convert timestamp to date format
                    const formattedData = sensorData.map(data => ({
                        x: new Date(data.timestamp * 1000),
                        y: data.value
                    }));

                    // Create the chart
                    Highcharts.chart(`container${i}`, {
                        title: {
                            text: `${sensorType} Data Line Graph`
                        },
                        xAxis: {
                            type: 'datetime'
                        },
                        yAxis: {
                            title: {
                                text: `${sensorType} Sensor Value`
                            }
                        },
                        series: [{
                            name: `${sensorType}  Data`,
                            data: formattedData
                        }]
                    });

                }

            </script>
</body>

</html>