<!DOCTYPE html>
<html>

<head>
    <title>
        Data Line Graph
    </title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>    
</head>

<body>
    <% for (let [sensorType, sensorData] of Object.entries(data_object)) { %>

        <div id="container<%=sensorType%>"></div>
        <% } %>
            <script>
                const data_object = JSON.parse('<%- JSON.stringify(data_object) %>');

                for (let [sensorType, sensorData] of Object.entries(data_object)) {
                    // Capitalize the first letter of the sensor type
                    // sensorType = sensorType[0].toUpperCase() + sensorType.slice(1)
                    // Convert timestamp to date format
                    const formattedData = sensorData.map(data => ({
                        // x: new Date(data.timestamp * 1000),
                        x: data.timestamp * 1000,
                        y: data.value
                    }));
                    Highcharts.setOptions({
                        time: {
                            timezone: 'Europe/Athens'
                        }
                    });
                    console.log(sensorType);
                    // Create the chart
                    Highcharts.chart(`container${sensorType}`, {
                        title: {
                            text: `${sensorType[0].toUpperCase() + sensorType.slice(1)} Data Line Graph`
                        },
                        xAxis: {
                            type: 'datetime'
                        },
                        yAxis: {
                            title: {
                                //if sensorType is energy, then the title will be Energy (WmH), else it will be Power (W)
                                text: sensorType === 'energy' ? 'Energy (Wh)' : 'Power (W)'
                            }
                        },
                        series: [{
                            name: `${sensorType[0].toUpperCase() + sensorType.slice(1)} Data`,
                            data: formattedData
                        }],
                        plotOptions: {
                            series: {
                                turboThreshold: 0
                            }
                        }
                    });

                }

            </script>
</body>

</html>